/*/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* конец кода сброса стилей браузера */
body {
	background: black;
}
* {
	font: bold 16px 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
}
header {
	width: 100%;
	margin: 0 auto;
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.top-menu {
	background-color: black;
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.left-side {
	display: flex;
	justify-content: flex-start;
}
.right-side {
	display: flex;
	align-items: center;
}
.login-img {
	margin-left: 20px; 
	display: block;
	height: 16px;
	width: 16px;
	background-image: url(../img/login.png);
	background-repeat: no-repeat;
	opacity: 0.4;
}
#check-menu{
    display: none;
	}
.left-side li {
	list-style: none;
}
.left-side li:hover a {
	color: 	black;
	background-color: white;
}
.right-side:hover a {
	color: 	black;
}
.right-side:hover {
	background-color: white;
}
.right-side:hover>.login-img {
	filter: invert(90%);
}
.left-side a, .right-side a {
	text-decoration: none;
	display: block;
	color: white;
	padding: 27px;
}
.big-logo {
	display: block;
	height: 10em;
	background-image: url(../img/top-logo.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 30px 50px 90px 50px;
	cursor: pointer;
}





/*header:after {
	display: flex;
    justify-content: center;
	content: '';
	border-bottom: 62px solid #f8f5f2;
	border-right: 600px solid #f8f5f2;
	border-left: 600px solid #f8f5f2;
	border-top: 70px solid transparent;
}*/
.input-content {
	padding-top: 100px;
	margin: 0 auto;
	margin-top: -100px;
	width: 100%;
	background-color: #f8f5f2;
	height: 100%;
	clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0% 100%, 0 0);
}
.input-content-top {
	margin: 0 auto;
	width: 80%;
	display: flex;
	justify-content: space-between;


}
.booking {
	font-size: 28px;
	line-height: 50px;
}
.button {
	vertical-align: middle;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	text-align: center;
	background-color: #f8f5f2;
	padding: 0 40px;
	border: 1px solid #e5ddd5;
}
.button a {
	text-decoration: none;
	color: black;
}
.button:hover {
	border: 1px solid #d5c9bd;
}
input, textarea {
	border: 1px solid #e5ddd5;
	text-transform: none;
	font-weight: normal;
	padding: 15px;
	margin: 5px;
	flex-grow: 1;
}
.inputs-name, .inputs-phone, .inputs-textarea {
	display: flex;
	margin: 25px auto;
	width: 81%;
}
.choose-the-model {
	text-align: center;
	font-weight: normal;
	font-size: 22px;
	padding: 25px 0;
}


.beards {
	/*border: 1px solid blue;*/
	display: flex;
	flex-flow: row wrap;
	width: 80%;
	margin: 0 auto;
	height: auto;
	justify-content: space-around;
	align-items: center;
}
.beard1, .beard2, .beard3, .beard4, .beard5 {
	width: 60px;
	height: 160px;
	/*border: 1px solid green;*/
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	margin: 10px;
}
.beards img {
	margin-top: -90px;
}


.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.radio + label {
  position: relative;
  padding: 35px 0 105px 0 ;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-transform: none;
  font-weight: normal;
  width: 60px;
}
.radio + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 13px;
  width: 30px;
  height: 30px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio + label:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 21px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #CAB985;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: .2s;
}
.radio:checked + label:after {
  opacity: 1;
}
.radio:focus + label:before {
  box-shadow: 0 0 0 2px rgba(247,184,139,.3);
}


.checkboxes {
	list-style: none;
	width: 80%;
	margin: 20px auto;
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 30px;
}
.checkbox {
	padding: 10px 0px;
	width: 33.3333%;
}

/* прячем input checkbox */
input[type="checkbox"] {
  display: none;
}
 
/* стили для метки */
.checkbox label {
  text-transform: none;
  font-weight: normal;
  color: #000;
  cursor: default;
  font-weight: normal;
  line-height: 30px;
  padding: 10px 0;
  vertical-align: middle;
}
 
/* формируем внешний вид чекбокса в псевдоэлементе before */
.checkbox label:before {
  content: " ";
  color: #000;
  display: inline-block;
  font: 20px/30px Arial;
  margin-right: 15px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 30px;
  height: 30px;
  background: #FFF;
  border: 1px solid #e3e3e3;
  border-image: initial;
  vertical-align: middle;
}
 
/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
.checkbox input:checked + label:before {
  content: "\2713";
}
/* disabled */
.checkbox input:disabled + label:before {
  background: #eee;
  color: #aaa;
}
 




.big-button {
	display: block;
	width: 80%;
	margin: 0 auto;
	cursor: pointer;
	padding-bottom: 30px;
}
.submit {
	padding: 10px 0px;
	width: 100%;
	background-color: #6a4d38;
	text-align: center;
	color: white;
}
.submit:hover {
	background-color: #826550;
}


footer {
	background-color: #292929;	
	width: 100%;
	margin: 0 auto;
}
.sub-wrap-div {
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
}
.content-div {
	width: 33.33333%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	/*border: 1px solid white;*/
	margin-top: 30px;
	font-size: 18px;
	color: white;
}
.content-div li {
	display: block;
	/*border: 1px solid grey;*/
	padding: 10px 0px;
	font-weight: normal;
}
.content-div li a {
	font-weight: normal;
	text-decoration: none;
	color: white;
}
.content-div h4 {
	font-weight: normal;
	text-transform: none;
}
.left {
	align-items: flex-start;
}
.left li address {
	text-transform: none;
	font-weight: normal;
}
.left strong {
	font-weight: bold;
}

.letsbefrnds {
	padding: 10px;
	text-transform: none;
	font-weight: normal;
}
.social {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	list-style: none;
}
.center-li {
	margin: 0 4px;
}

.social a {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid grey;
}
.social a:hover {
	border: 1px solid white;
}
.vk, .fb, .in {
	background-repeat: no-repeat;
	background-position: center center;
}
.vk {
	background-image: url(../img/VK.png);
}
.fb {
	background-image: url(../img/FB.png);
}
.in {
	background-image: url(../img/IN.png);
}



.right {
	align-items: flex-end;
}
.right li {
	text-align: center;
	padding: 10px 20px;
}
.HTMLAcademy {
	text-transform: uppercase;
	font-weight: normal;
	border: 1px solid grey;
}
.HTMLAcademy:hover {
	border: 1px solid white;
}

.big-photo {
	margin: 20px auto;
	width: 80%;
	border: 1px solid #826550;
	height:480px;
	display: flex;
	justify-content: space-between;
	position: relative;

}
.container-for-big-photo {
	width: 45%;
	max-width: 480px;
	height: 480px;
	background-image: url(../img/bigphoto.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.container-for-big-photo-rightside {
	padding-left: 30px;
	width: 55%;
	display: flex;
	flex-flow: column nowrap; 
	justify-content: space-around;
}
.work-of-month {
	align-self: flex-end; 
	/*border:1px solid red;*/
	width: max-content;
	margin-right: 10px;
	background-color: #826550;
	color: white;
}
.tiangle-right {
	margin-left: -20px;
	margin-top: -30px;
	margin-right: -10px;
	border-top: 20px solid #826550;
	border-bottom: 20px solid #826550;
	border-left: 10px solid transparent;
}
.describing {
	width: 70%;
}

.describing div {
	text-transform: none;
}
.header-content {
	font-weight: normal;
}
.service-list {
	display: flex;
	flex-flow: row wrap;
}
.service-list div {
	padding: 5px 15px 5px 40px;
	/*border: 1px solid red;*/

}
.cutting-hair {
	background-image: url(../img/beard1-1.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.small-photos {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}
.container-for-smph1 {
	border: 1px solid #826550;
	width: 30%;
	margin: 30px 0;
	display: flex;
	flex-flow: column nowrap;
}
.bg-smph1, .bg-smph2, .bg-smph3 {
	width: 100%;
	height: 290px;
	background-repeat: no-repeat;
}
.bg-smph1 {
	background-image: url(../img/smallphoto1.png);
}
.bg-smph2 {
	background-image: url(../img/smallphoto2.png);
}
.bg-smph3 {
	background-image: url(../img/smallphoto3.png);
}
.describing-small-photo {
	margin: 10px;
	/*border: 1px solid red;*/
}
.describing-small-photo div {
	text-transform: none;
}
.service-smph {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin: 10px 10px 10px -10px;
	
}
.service-smph div {
	padding: 5px 10px 5px 35px;
	/*border: 1px solid red;*/
	margin-left: 20px;
}
.cont-flexsmph {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	height: 160px;
}
.pricecurrent {
	margin: 0 auto;
	width: 100%;
	background-color: #353535;
}
.text-price {
	width: 80%;
	margin: 0 auto;
	color: white;
	padding: 40px;
	font-size: 20pt;
}
.container-fortbl {
	margin: 0 auto;
	padding-bottom: 70px;
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
table {
	color: white;
	border-collapse: collapse;
	text-align: left;
	width: 60%;
}
td, th {
	border: 1px solid #868686;
	padding: 20px 30px;
	text-transform: none;
	font-weight: normal;
}

.clock {
	border: 1px solid #868686;
	display: flex;
	flex-flow: column nowrap;
	width: 30%;
	justify-content: space-around;
	align-items: center;
}
.clock-bg {
	width: 142px;
	height: 139px;
	background-image: url(../img/clock.png);
	/*border: 1px solid white;*/
	color: white;
}
.clock-text {
	width: 140px;
	/*border: 1px solid white;*/
	text-align: center;
	color: white;
	text-transform: none;
	font-weight: normal;
	font-size: 18px;
}
.boldth {
	font-weight: bold;
}
.price-number {
	color: #868686;
	text-align: center;
}


.about {
	padding-top: 1px;
	width: 100%;
	height: 500px;
	/*border: 1px solid red;*/
	background-color: #353535;
	margin-top: 80px;
	/*margin-bottom: -70px;*/
	color: white;
}
.about-top {
	display: flex;
	justify-content: center;
	width: 70%;
	/*border: 1px solid white;*/
	height: 200px;
	margin: 0 auto;
	margin-top: -100px;
}

.left-1-3 {
	/*border: 1px solid white;*/
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	width: 33.3333%;
}
.left-1-3:before {
	position: absolute;
	margin-left: -18px;
	margin-top: 40px;
	width: 0px;
	content: "";
	border-top: 20px solid white;
	border-right: 1px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid transparent;
}
.center-1-3 {
	/*border: 1px solid white;*/
	width: 33.3333%;
	display: flex;
	flex-flow: column nowrap;
}
.right-1-3 {
	/*border: 1px solid white;*/
	width: 33.3333%;
	display: flex;
    flex-flow: column nowrap;
	
}
.left-1-3 div, .center-1-3 div, .right-1-3 div{
	/*border: 1px solid white;*/
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
    /*justify-content: center;*/ /*Центрирование по горизонтали*/
    align-items: center;    /* Центрирование по вертикали 
	text-align: center;*/
	padding: 0px 30px;
}
.left-1-3 div {
	background-color: white;
}
.left-1-3 div p {
	color: black;
	text-transform: none;
	font-weight: normal;
}
.left-1-3 div p strong {
	font-size: 2em;
	text-transform: none;
}
.center-1-3 div, .right-1-3 div {
	font-size: 3em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.text-after {
	font-size: .2em;
}
.center-1-3 div {
	background-color: #353535;
}
.center-1-3 div:first-child {
	background-color: #404040;
}
.right-1-3 div {
	background-color: #404040;
}
.right-1-3 div:first-child {
	background-color: #4e4e4e;
}

.about-bottom {
	/*border: 1px solid red;*/
	display: flex;
	width: 70%;
	margin: 0 auto;
	margin-top: 60px;
}
.about-bottom>div {
	width: 33.333333%;
}
.about-bottom .flexcontainer-for-about-bottom {
	/*border: 1px solid white;*/
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
}
.flexcontainer-for-about-bottom>div {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px;
}
.flexcontainer-for-about-bottom>div p {
	text-transform: none;
	font-weight: normal;
	padding: 5px 0px;
	text-align: center;
}
.flexcontainer-for-about-bottom>div p span {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5em;
}
.second-block {
	border-right: 1px solid #4a4a4a;
	border-left: 1px solid #4a4a4a;
}
.news-block {
	margin: 0 auto;
	padding-top: 50px;
	width: 100%;
	height: 600px;
	background-color: #f8f5f2;
	/*border: 1px solid red;*/
}
.news-items {
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 40px;
	width: 80%;
	display: flex;
	flex-flow: row nowrap;

}
.news-items>div {
	padding-right: 20px;
	/*border: 1px solid green;*/
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.news-items img {
	padding: 20px;
}
.news-items p {
	text-transform: none;
	font-weight: normal;
}
.date-of-news {
	background-color: black;
	color: white;
	margin: 30px 20px 30px 0px;
	position: relative;
}
.date-of-news p {
	padding: 0px 15px;
	text-align: center;
}
.date-of-news div p span {
	font-size: 2em;
}
.date-of-news div:after {
	position: absolute;
	content: "";
	width: 0px;
	border-top: 15px solid black; 
	border-right: 30px solid #f8f5f2;
	border-bottom: 0px solid #f8f5f2;
	border-left: 30px solid #f8f5f2;
}
.div-for-slick {
	border: 1px solid #d5c9bd;
	width: 69.8%;
	margin: 0px auto;
	margin-top: 40px;
}
.image-div {
	width: 249px;
	height: 160px;
}
.firstimg {
	background-image: url(../img/News.png);
}
.secondimg {
	background-image: url(../img/News2.png);
}
.thirdimg {
	background-image: url(../img/News3.png);
}
.flexcontainer {
	/*border: 1px solid red;*/
	display: flex;
	justify-content: flex-start;
	
}
.flexcontainer .text-div {
	/*border: 1px solid blue;*/
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	margin-left: 40px;
	width: 60%;
}

.div-for-slick p {
	margin-top: 15px;
	/*border: 1px solid yellow;*/
	text-transform: none;
	font-weight: normal;
}
.div-for-slick p span {
	font-weight: bold;
	text-transform: none;
}



@media screen and (max-width: 1199px) {
	header {
		width: 100%;
	}
	
	.left-side {
		margin: 10px;
	}
	.right-side {
		margin: 10px;
	}
	.right-side>a {
		display: none;
	}
	.login-img {
		margin: 20px;
	}
	.left-side a, .right-side a {
		padding: 20px 15px;
	}
	.input-content {
		width: 100%;
		clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0% 100%, 0 0);
	}
	
	/*header::after {
    display: flex;
    justify-content: center;
    content: '';
    border-bottom: 42px solid #f8f5f2;
    border-right: 384px solid #f8f5f2;
    border-left: 384px solid #f8f5f2;
    border-top: 50px solid transparent;
	}*/
	.inputs-phone {
		flex-flow: column nowrap;
	}
	
	.pricecurrent {
		width: 100%;
	}
	.container-fortbl {
		justify-content: center;
	}

	table {
		width: 100%;
		margin-bottom: 10px;
	}
	
	.clock {
		width: 100%;
		flex-flow: row nowrap;
		padding: 20px;
	}
	.clock-bg {
		height: 90px;
		width: 90px;
		background-size: cover;
	}
	.clock-text {
		width: 60%;
		font-size: 2em;
		font-weight: bold;
	}
	.container-for-smph1 {
		width: 100%;
		flex-flow: row nowrap;
	}
	.bg-smph1, .bg-smph2, .bg-smph3 {
		width: 50%;
	}
	.cont-flexsmph {
		width: 50%;
		flex-flow: column nowrap;
		justify-content: space-around;
		height: 100%;
	}
	footer {
		width: 100%;
	}

	.left {
		order: 1;
		width: 70%;
	}
	.center {
		order: 3;
		width: 100%;
		margin-bottom: 40px;
	}
	.center-li a {
	border-left: none;
	border-right: none;
	}
	.right {
		order: 2;
		width: 30%;
	}
	.letsbefrnds {
		display: none;
	}
	.social {
		width: 100%;
	}
	.social li {
		flex-grow: 1;
		margin: 0;
	}
	.social li a {
		width: 100%;
		padding: 20px 0px;
	}
	.work-of-month {
	    align-self: flex-start;
	    /*border: 1px solid red;*/
	    width: max-content;
	    /*margin-left: -88%;*/
	    background-color: #826550;
	    color: white;
	    position: absolute;
	    top: 10%;
	    left: 10px;
	}
	.tiangle-right {
	    margin-left: -10px;
	    margin-top: -30px;
	    margin-right: -20px;
	    border-top: 20px solid #826550;
	    border-bottom: 20px solid #826550;
	    border-right: 10px solid transparent;
	    border-left: 1px solid #826550;
	}
	.about {
		width: 100%;
	}
	.about-top {
		flex-flow: row wrap;
	}
	.left-1-3 {
		width: 100%;
		flex-flow: row nowrap;
		height: 100px;
	}
	.about {
		height: 750px;
	}
	.about-top {
		margin-top: -100px;
	}
	.center-1-3 {
		width: 50%;
	}
	.right-1-3 {
		width: 50%;
	}
	.center-1-3 div, .right-1-3 div {
		padding: 20px 25px;
	}
	.about-bottom {
		flex-flow: column nowrap;
		margin-top: 150px;
	}
	.about-bottom > div {
		width: 100%;
	}
	.about-bottom .flexcontainer-for-about-bottom {
		width: 100%;
		flex-flow: row nowrap;
		padding-left: 0px;
		padding-right: 0px; 

	}
	.flexcontainer-for-about-bottom>div {
	    flex-flow: column nowrap;
	    justify-content: space-between;
	    align-items: flex-start;
	}
	.flexcontainer-for-about-bottom>div p {
		text-align: justify;
		padding-left: 20px;
	}
	.second-block {
	border-right: none;
	border-left: none;
	border-top: 1px solid #4a4a4a;
	border-bottom: 1px solid #4a4a4a;
	}
	.news-block {
		width: 100%;
		height: 600px;
	}
	.news-items>div:first-child {
		display: none;
	}
	.image-div {
		width: 25%;
		height: 130px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		clip-path: circle(28% at 50% 50%);
	}
	.flexcontainer .text-div {
		margin-left: 0px;
	}
	.checkbox {
	width: 50%;
	}
	
}
@media screen and (max-width: 768px) {
	header {
		width: 320px;
		background-image: none;
		background-color: #242424;
		display: flex;
		flex-flow: column nowrap;
		position: relative;
	}
	/*header:after {
		display: none;
	}*/
	.big-logo {
		height: 40px;
		background-image: url(../img/top-logo-small.png);
		padding: 20px;
		order: 1;
	}
	.input-content {
		width: 320px;
		clip-path: none;
	}
	.input-content-top {
		justify-content: center;
	}
	.button {
		display: none;
	}
	.inputs-name {
		flex-flow: column nowrap;
	}
	footer {
		width: 320px;
	}
	.sub-wrap-div {
		flex-flow: column nowrap;
		align-items: center;
	}
	.left {
		align-items: center;
		text-align: center;
		width: 100%;
	}
	.left li:nth-child(3) {
		width: 100%;
		border: 1px solid grey;
		padding: 10px 0px;
		margin-top: 20px;
	}
	.right {
		width: 100%;
		align-items: center;
	}
	.right ul {
		width: 100%;
	}
	.right li {
		padding: 10px 0px;
	}
	.HTMLAcademy {
		width: 99%;
		margin-bottom: 30px;
	}
	.center {
		margin-bottom: 0px;
		order: 2;
		width: 125%;
	}
	.social li .vk {
		border-left: none;
	}
	.social li .in {
		border-right: none;
	}

	footer {
		position: relative;
	}
	footer:before {
		content: '';
		border-bottom: 1px solid #292929;
		border-right: 161px solid #292929;
		border-left: 161px solid #292929;
		border-top: 35px solid transparent;
	}
	.top-menu {
		flex-flow: column nowrap;
		order: 3;
		background-color: #a08069;
		width: 83%;
		align-self: flex-end;
		position: absolute;
		top: 80px;
		left: 55px;
		display: none;
	}
	.left-side {
		flex-flow: column nowrap;
	}
	.left-side, .right-side {
		margin: 0;
	}
	.right-side > a {
		display: block;
	}
	.left-side a, .right-side a {
    padding: 10px 10px;
	}
	.top-menu ul li a:hover {
		color: white;
		background-color: #856954;
	}
	.right-side:hover {
		background-color: #856954;
	}
	.right-side:hover>a {
		color: white;
	}
	.burger-menu {
		width: 320px;
		height: 40px;
		order: 2;
		background-color: #856954;
	}
	
	
	.burger-menu label {
	    /*border: 1px solid green;*/
	    display: block;
	    position: absolute;
	    top: 79px;
	    right: 0;
	    width: 54px;
	    height: 40px;
	    cursor: pointer;
	    z-index: 2;
	    line-height: 40px;
	}
	.wrap-for-lines {

    height: 40px;
    width: 54px;
    background-color: #856954;
    position: absolute;
    right: 0;
    top: 80px;
	}
	.burger-line{
	    position: absolute;
	    top: 8px;
	    right: 10px;
	    width: 35px;
	    height: 2px;
	    background-color: #fff;
	}

	.second {
	    top: 18px;
	}

	.third {
	    top: 28px;
	}	
	
	#check-menu:checked ~ .wrap-for-lines .first{
    	transform: rotate(45deg);
	    top: 18px;
	}

	#check-menu:checked ~ .wrap-for-lines  .second{
	    display: none;
	}

	#check-menu:checked ~ .wrap-for-lines  .third{
	    transform: rotate(-45deg);
	    top: 18px;
	}

	#check-menu:checked ~ .wrap-for-lines {
	  right: 265px;
	}
	#check-menu:checked ~ label {
	  right: 265px;
	}
	#check-menu:checked ~ .top-menu {
	    display: flex;
	}

	.pricecurrent {
		width: 320px;
	}

	.big-photo {
		flex-flow: column nowrap;
		height: 100%;
		position: unset;
	}
	.container-for-big-photo {
		height: 450px;
		width: 100%;
	}
	.work-of-month {
		margin-left: -20px;
		margin-top: -50px;
		position: unset;
	}
	.describing {
		margin-top: 40px;
	}
	.container-for-big-photo-rightside {
		width: 100%;
	}
	.container-for-smph1 {
		flex-flow: column nowrap;
		margin: 10px 0;
	}
	.bg-smph1, .bg-smph2, .bg-smph3 {
    	width: 100%;
	}
	.cont-flexsmph {
		width: 100%;
		justify-content: flex-start;
		height: auto;
	}
	.price-number {
		display: none;
	}
	.clock-text {
		font-size: 1em;
		text-align: left;
	}
	.clock {
		justify-content: space-between;
	}
	.clock-bg {
	    height: 60px;
	    width: 60px;
	}
	td, th {
		padding: 5px;
		border: none;
	}










	.about {
		width: 320px;
		height: auto;
		order: 4;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.text-after {
    font-size: .5em;
    width: 30%;
    text-align: right;
    text-transform: none;
    font-weight: normal;
	}
	.left-1-3::before {
		display: none;
	}
	.about-top {
		margin: 0;
		width: 100%;
		height: auto;
		flex-flow: column nowrap;
		
	}
	.left-1-3 {
		position: unset;
		flex-flow: column nowrap;
		text-align: center;
		height: auto;
	}
	.left-1-3 div p {
		padding-bottom: 20px;
	}
	.left-1-3 div p strong {
		text-transform: uppercase;
	}
	.center-1-3, .right-1-3 {
		width: 100%;
	}
	.center-1-3 div, .right-1-3 div {
		flex-flow: row nowrap;
		justify-content: space-between

	}
	.news-block {
		width: 320px;
	}
	.news-items {
		flex-flow: column nowrap;
	}
	.news-block:before {
		position: absolute;
		margin: 0 auto;
		margin-top: -35px;
		width: 0px;
		display: flex;
		justify-content: center;
		content: '';
		font-size: 0.1px;
		border-bottom: 1px solid #f8f5f2;
		border-right: 160px solid #f8f5f2;
		border-left: 160px solid #f8f5f2;
		border-top: 35px solid transparent;
	}
	.about-bottom .flexcontainer-for-about-bottom {
		margin: 0;
		flex-flow: column nowrap;
		width: 100%;
	}
	.about-bottom > div > div p {
		text-align: center;
		padding: 10px;
	}
	.slick-slide img {
		margin: 0 auto;
	}
	
	.div-for-slick {
		width: 100%;
		border: none;
		margin-top: 0px;
	}
	.image-div {
		clip-path: inset(0 15% 0 15%);;
	}
	.about-bottom {
		margin-top: 15px;
	}
	.flexcontainer-for-about-bottom > div {
		align-items: center;
	}
	.second-block {
		border: none;
	}
	.checkbox {
	width: 100%;
	}
	.left strong {
    text-transform: none;
	}



}